name: Evaluation

on:
  push:
    branches: [main]
    tags: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    # Steps for the build
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Train
        run: |
          ./tagger train data/WSJ_02-21.pos

      - name: Test
        run: |
          ./tagger tag data/WSJ_24.pos -o WSJ_24_out.txt
          ./tagger tag data/WSJ_24_sys.pos -o WSJ_24_sys_out.txt
          echo -e "## Test on WSJ_24\n" > GRADE.txt
          ./score.py data/WSJ_24.pos WSJ_24_out.txt >> GRADE.txt
          echo -e "\n## Test on WSJ_24_sys\n" >> GRADE.txt
          ./score.py data/WSJ_24_sys.pos WSJ_24_sys_out.txt >> GRADE.txt

      - name: Grade
        run: |
          cat GRADE.txt
          echo 'GRADE<<EOF' >> $GITHUB_ENV
          cat GRADE.txt >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Get tag name
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Final test
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          ./tagger tag data/WSJ_23.words -o submission.pos

      - name: Package
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cp README.txt zz2960_HW3_README.txt
          cp src/main.py main_zz2960_HW3.py
          zip -r zz2960-HW3_${TAG}.zip README.txt submission.pos main_zz2960_HW3.py

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: ${{ env.GRADE }}
          files: |
            zz2960-HW3_${{ env.TAG }}.zip
            GRADE.txt
